[
  {
    "id": 1,
    "title": "Greater - San Francisco Event",
    "time": "6 hours - Thursday - Friday",
    "duration": "2 Days - February 10 -11, 2026",
    "location": "San Francisco - UCSF - Labs - Kickers Annual Event",
    "requirements": "Warm and Friendly attitude",
    "image": "ucsf_event.png"
  },
  {
    "id": 2,
    "title": "Editor - Monthly News Letter",
    "time": "4 hours",
    "duration": "Monthly",
    "location": "Remote via Zoom",
    "requirements": "Ability to pull together in written form an electronic newsletter",
    "image": "newsletter_image.png"
  },
  {
    "id": 3,
    "title": "Booth/Table Volunteer at Conferences",
    "time": "2 - 4 hours",
    "duration": "1 - 2 days depending on conference location",
    "location": "Depends on conference location - may require travel",
    "requirements": "Warm and Friendly attitude",
    "image": "events_asco.jpeg"
  },
  {
    "id": 4,
    "title": "Patient Peer Mentor",
    "time": "2 hours per week",
    "duration": "6 months",
    "location": "Remote phone or text",
    "requirements": "Experience as a patient or caregiver",
    "image": "patient_empowerment.jpeg"
  }
]
